.mine-background {
    width: 100vw;
    height: 30vh;
    background-image: url('../images/uneMine.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  