#root {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}

#gameContainer{
    display: flex ;
    flex-direction: column;

}

#gameContainer canvas {
    display: none;
}
.miner {
    left:58%;
    position: relative;
    top: 30%;
}

.drill {
    left:57%;
    position: relative;
    top: 30%;
}

.manager {
    left:28%;
    position: relative;
    top: 14.2%;
  }

  p.level {
    left: 10.8vw;
    position: relative;
    top: -35%;
    color: white;
  }
  p.levelminer {
    left: 66.6vw;
    position: relative;
    top: -50%;
    color: white;
  }
  button.buttonMiner {
    left: 65vw;
    position: relative;
    top: -50%;
    color: white;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    align-items: center center;
    background-color: #3E3D4C;
  }
  button.buttonMiner:hover {
    border: solid 2px white;
  }

  button.buttonManager {
    left: 4vw;
    position: relative;
    top: -50%;
    color: white;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;   
    background-color: #3E3D4C;
    border: white;
  }
  button.buttonManager:hover {
    border: solid 2px white;
  }

#flag2 p {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-size-adjust: 0.5;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
    color:white ;
    padding-right: 50px;
    padding-left: 50px;
    margin: auto; /* Centre horizontalement */
    position: fixed; /* Pour le centrer verticalement, vous devez également définir la hauteur du parent */
    top: 30px; /* Pour le centrer verticalement */
    right: 13vw;
    border-radius: 55px;
}


#flag3 p {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-size-adjust: 0.7;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
    color:white ;
    padding-right: 80px;
    padding-left: 80px;
    margin: auto; /* Centre horizontalement */
    position: fixed; /* Pour le centrer verticalement, vous devez également définir la hauteur du parent */
    top: 25px; /* Pour le centrer verticalement */
    left: 25vw;
    border: solid 3.2px white;
    border-radius: 55px;
}